.list {
    font-family:Roboto, sans-serif;
}
.text {
    font-family:Roboto, sans-serif;
}

.badge0 {
    background-color: #f94144;
} 

.badge1 {
    background-color: #f3722c;
}

.badge2 {
    background-color: #f8961e;
}

.badge3 {
    background-color: #f9844a;
}

.badge4 {
    background-color: #f9c74f;
}

.badge5 {
    background-color: #90be6d;
}

.badge6 {
    background-color: #43aa8b;
}

.badge7 {
    background-color: #4d908e;
}

.badge8 {
    background-color: #577590;
}

.badge9 {
    background-color: #277da1;
}


.topic {
    font-family:Roboto, sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

input {
    border:solid 1px #ccc;
    border-radius: 5px;
    padding:7px 14px;
    margin-bottom:10px;
    width:150px;
}
input:focus {
outline:none;
border-color:#aaa;
}
.sort {
    margin-left: 10px;
}

.navbar {
    background-color: #5386E4;
}

.greenMark {
    background-color: #06d69e62;
}

.blueMark {
    background-color: #3a85ff63;
}

.orangeMark {
    background-color: #fb540762;
}

.yellowMark {
    background-color: #ffbe0b62;
}

.beeImg {
    padding: 0px 0px 0px 5px;
}

.rounded_border_image {
border-radius: 6px;
border-spacing: 10px;
border:none;
display:inline-block;
color:#fff;
text-decoration: none;
}
